
.Registro
{
    text-align: center;
}

.Card
{
    margin-top: 10%;
}

.title
{
    font-size: 40px;
    padding: 10px 20px;
}

.register--section
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 10%;
}

.buttons
{
    display: inline;
    position: relative;
    text-align: center;
    margin-top: 7%;
}

form
{
    background-color: white;
    border-radius: 20px;
    padding: 60px;
    font-family: Arial;
    color: black;
    position: absolute;
    margin-bottom: 20px;
}

form div
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

textarea
{
    max-width: 600px;
    max-height: max-content;
}

form input, form textarea
{
    outline: unset;
    padding: 20px;
    width: 600px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}

form input:focus, form textarea:focus
{
    background-color: #c79cf0;
}

.action--buttons
{
    padding: 10px;
    width: 135px;
    background-color: #8a2be2;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-left: 20%;
}



