.header--container h1:nth-child(1)
{
  font-size: 40px;
  letter-spacing: 0.5px;
}

.subtitle
{
  margin-left: 5rem;
}
.header--container
{
  text-align: center;
  line-height: 15px;
}

.img--user
{
  width: 120px;
  height: auto;
  position: static;
  bottom: -30px;
}

.informations
{
  margin-left: 20px;
}

.informations p:nth-child(1)
{
  margin-top: -10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

/*Mold de container onde será retornado as informações que os próprios prestadores de serviços cadastraram
a propriedade width:max-content; vai fazer o container variar de acordo com a quantidade de informações*/
.result--information
{
  background-color: #fff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  margin-left: 5rem;
  border-radius: 10px;
  align-items: center;
  padding: 15px;
  display: block;
  justify-content: center;
  position: relative;
  outline: none;
  flex-direction: row;
}

.see--more
{
  color:  rgb(0, 0, 0);
  background-color: rgb(173, 172, 172);
  width: 80px;
  height: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 8px; 
  display: block;
}

.see--more:hover
{
  padding: 10px;
}

